body{
	margin: 0;
	padding: 0;
	height: 97.8vh;
	font-family: Verdana, sans-serif;
}

.header {
	height: 10%;
	width: 100%;
}

.navigation-block{
	float: right;
	padding: 1em 3em 1em;
	background: lightgray;
	border-bottom-left-radius: 20px;
}

.navigation-button{
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.7em;
	border: none;
	background: none;
	font-weight: bolder;
	cursor: pointer;
}

.navigation-button:hover{
	color: lightslategray;
}	

.navigation-button:active{
	color: gray;
}	

.navigation-notification-button{
 	width: 25px;
  	height: 25px;
  	margin-right: 2em;
  	padding: 5px;
	float: left;
	cursor: pointer;
	border: none;
	background: lightgray;
}

.logo-block{
	float: left;
}

.logo-text{
	font-weight: bolder;
	margin-top: 0.8em;
	margin-left: 1em;
}

.notifications-window{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 25%;
	height: 45%;
	background: #c4cdd4;
	box-shadow: 12px 12px 2px 1px lightgray;
	font-family: Verdana;
}

.notification-block{
	padding-left: 15px;
}

.main {
	height: 89%;
	width: 100%;

}

.authorization-login-block{
	width: 50%;
}

.authorization-login-block{
	width: 50%;
}

.footer{
	height: 3%;
	width: 100%;
	background: lightgray;
}

.footer-text-block{
	width: 100%;
}

.footer-text{
	font-weight: lighter;
	text-align: center;
	margin: 0;
	padding-top: 4px;
	font-size: 10px;
}